# -------------------------
# NetBeans related folders
# -------------------------
nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# -------------------------
# Compiled class file
# -------------------------
*.class

# -------------------------
# Log file
# -------------------------
*.log

# -------------------------
# Package Files
# -------------------------
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar